.navbar {
  background-color: #192026;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #2a353f;
}
.heading__main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.heading__container {
  color: white;
}

.navbar__credential {
  color: gray;
}

.links {
  text-decoration: none;
  margin: 0rem 0.5rem;
  color: #4f5356;
}
.input__search {
  width: 20%;
}

.input__search input {
  border-radius: 1rem;
  background-color: #4f5356;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  width: 80%;
}
